<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>V</key>
		<integer>-64</integer>
		<key>W</key>
		<integer>-96</integer>
		<key>v</key>
		<integer>-32</integer>
		<key>w</key>
		<integer>-32</integer>
		<key>y</key>
		<integer>-32</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>a</key>
		<integer>-32</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>a</key>
		<integer>-128</integer>
		<key>c</key>
		<integer>-128</integer>
		<key>d</key>
		<integer>-128</integer>
		<key>e</key>
		<integer>-128</integer>
		<key>g</key>
		<integer>-128</integer>
		<key>m</key>
		<integer>-128</integer>
		<key>n</key>
		<integer>-128</integer>
		<key>o</key>
		<integer>-128</integer>
		<key>p</key>
		<integer>-128</integer>
		<key>q</key>
		<integer>-128</integer>
		<key>r</key>
		<integer>-128</integer>
		<key>s</key>
		<integer>-128</integer>
		<key>t</key>
		<integer>-64</integer>
		<key>u</key>
		<integer>-128</integer>
		<key>v</key>
		<integer>-128</integer>
		<key>w</key>
		<integer>-128</integer>
		<key>x</key>
		<integer>-128</integer>
		<key>y</key>
		<integer>-128</integer>
		<key>z</key>
		<integer>-128</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-96</integer>
		<key>a</key>
		<integer>-32</integer>
		<key>e</key>
		<integer>-32</integer>
		<key>o</key>
		<integer>-32</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>a</key>
		<integer>-32</integer>
		<key>e</key>
		<integer>-32</integer>
	</dict>
</dict>
</plist>
